@model ApplicantAllViewModel
<div class="col-md-4">
    <div class="card mb-3">
        <div class="card-body text-center bg-secondary text-white">
            <img src="@Model.ImageUrl" class="rounded mx-auto d-block" />
            <h4>@Model.FirstName @Model.LastName</h4>
            
            <h6>
                Town:
                <b>@Model.Town</b>
            </h6>
            <h6>
                Level:
                <b>@Model.Level</b>
            </h6>
            <h6>
                Programming Language:
                <b>@Model.ProgrammingLanguage</b>
            </h6>
           
            <br />
            <a asp-controller="Applicant" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success">Details</a>
            

          
        </div>
    </div>
</div>


