@model JobOfferAllViewModel
<div class="col-md-4">
    <div class="card mb-3">
       <div class="card-body text-center bg-secondary text-white">
            <img src="@Model.CompanyImageUrl" class="rounded mx-auto d-block" />
            <h4>@Model.Name</h4>
           
            <h6>
                Town:
                <b>@Model.Town</b>
            </h6>
            <h6>Level:
                <b>@Model.Level</b>
            </h6>
            <h6>Programming Language:
                <b>@Model.ProgrammingLanguage</b>
           </h6>
            <h6>Job Type:
                <b>@Model.JobType</b>
           </h6>
            <h6>
                Published:
                <b>@Model.CreatedOn</b>
            </h6>
            <h6>
                Company Name:
                <b>@Model.Company</b>
            </h6>
            <h6>
               Applicants:
                <b>@Model.JobOfferApplicantsCount</b>
            </h6>
            <br />
            <a asp-controller="JobOffer" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success">Details</a>
       
        </div>
    </div>
</div>


