@using System.Security.Claims;
@inject JobPortal.Services.Data.Interfaces.ICompanyService companyService;
@inject JobPortal.Services.Data.Interfaces.IApplicantService applicantService;
@model JobOfferDetailsViewModel
@{
    ViewBag.Title = "JobOffer Details";
}
<link rel="stylesheet" href="~/css/All.css" asp-append-version="true" />


<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.CompanyImageUrl" alt="Company Image">
        </div>
        <div class="card col-8 border-0 bg-secondary text-white">
            <p style="font-size:25px;"><u>@Model.Name</u></p>
            <p>Description:
                    <b>@Model.Description</b></p>
            <p>Company Phone: <b>@Model.CompanyPhone</b></p>
            <p>Company Email: <b>@Model.CompanyEmail</b></p>
            @{
                string? userId = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
                var company = await companyService.GetCompanyByApplicationUserId(userId);

                bool IsCompany = await companyService.CompanyExistsByUserId(userId);
                bool isApplicant = await applicantService.ApplicantExistsByUserId(userId);
                if ((User?.Identity?.IsAuthenticated ?? false) && isApplicant)
                {
                    <div class="d-flex justify-content-center">

                        <form class="input-group-sm" asp-route-id="@Model.Id" asp-controller="JobOffer" asp-action="Apply" method="post">
                            <input type="submit" value="Apply" class="ml-2 btn btn-success" />
                        </form>
                  
                    </div>


                }
                else if ((User?.Identity?.IsAuthenticated ?? false) && IsCompany && (Model.CompanyId == company.Id.ToString()))
                {
                    <div class="d-flex justify-content-center">
                        <form class="input-group-sm" asp-route-id="@Model.Id" asp-controller="JobOffer" asp-action="Edit" method="get">
                            <input type="submit" value="Edit" class="fs-6 btn btn-warning mb-3 p-2" />
                        </form>
                        <form class="input-group-sm" asp-route-id="@Model.Id" asp-controller="JobOffer" asp-action="Delete" method="post">
                            <input type="submit" value="Delete" class="fs-6 btn btn-danger mb-3 p-2" />
                        </form>
                        
                    </div>

                   

                  

                    

                }

            }



            
                
        </div>
           
    </div>
</div>
