@model BecomeRecruiterFormModel
@{
    ViewBag.Title = "Become Recruiter";
}
    <h2 class="text-center">@ViewBag.Title</h2>
    <hr />
    @*@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewData.ModelState["Error"].Errors.First().ErrorMessage
        </div>
    }*@

    <link rel="stylesheet" href="~/css/becomeCompany.css" asp-append-version="true" />



<div class="row">
    <div class ="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Name input -->
            <div class="form-outline mb-4">
                <input asp-for="@Model.Name" type="text" id="form4Example1" class="form-control" />
                <label asp-for="@Model.Name" class="form-label" for="form4Example1"></label>
                <span asp-validation-for="@Model.Name" class="small text-danger"></span>

            </div>

            <!-- Img Url -->
            <div class="form-outline mb-4">
                <input asp-for="@Model.ImageUrl" type="url" id="form4Example2" class="form-control" placeholder="https://"/>
                <label asp-for="@Model.ImageUrl" class="form-label" for="form4Example2"></label>
                <span asp-validation-for="@Model.ImageUrl" class="small text-danger"></span>

            </div>
            <!-- Phone -->
            <div class="form-outline mb-4">
                <input asp-for="@Model.Phone" type="text" id="form4Example2" class="form-control" placeholder="+359888888888" />
                <label asp-for="@Model.Phone" class="form-label" for="form4Example2"></label>
                <span asp-validation-for="@Model.Phone" class="small text-danger"></span>

            </div>
            <!-- Address -->
            <div class="form-outline mb-4">
                <input asp-for="@Model.Address" type="text" id="form4Example2" class="form-control" placeholder="" />
                <label asp-for="@Model.Address" class="form-label" for="form4Example2"></label>
                <span asp-validation-for="@Model.Address" class="small text-danger"></span>

            </div>

            <!-- Description input -->
            <div class="form-outline mb-4">
                <textarea asp-for="@Model.Description" class="form-control" id="form4Example3" rows="4"></textarea>
                <label asp-for="@Model.Description" class="form-label" for="form4Example3"></label>
                <span asp-validation-for="@Model.Description" class="small text-danger"></span>

            </div>



            <!-- Submit button -->
            <button type="submit" asp-controller="Company" asp-action="Become" class="btn btn-primary btn-block mb-4">Send</button>
        </form>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }