
@model ApplicantDetailsViewModel
@{
    ViewBag.Title = "Applicant Details";
}
<link rel="stylesheet" href="~/css/All.css" asp-append-version="true" />


<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="Applicant Image">
        </div>
        <div class="card col-6 border-0 bg-secondary text-white">
            <p style="font-size:25px;"><u>@Model.FirstName @Model.LastName</u></p>
            <p>Applicant Phone: <b>@Model.Phone</b></p>
            <p>Applicant Email: <b>@Model.Email</b></p>
            <p>Applied for  <b>@Model.ApplicantJobOffersCount  Applications</b></p>
            
            <form class="input-group-sm" asp-route-id="@Model.Id" asp-controller="JobOffer" asp-action="JobOffersAppliedFromAnApplicant" method="get">
                <input type="submit" value="Applications" class="fs-6 btn btn-warning mb-3 p-2" />
            </form>

            
        </div>
        
    </div>
</div>
